* {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
body {
  padding-top: 51px;
  background-color: #333;
}
.banner {
  width: 100%;
  position: relative;
  overflow: auto;
  text-align: center;
}
.banner ul {
  width: 300%;
}
.banner ul li {
  display: block;
  height: 500px;
  width: 33%;
  min-height: 350px;
  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  box-shadow: inset 0 -3px 6px rgba(0, 0, 0, 0.1);
}
.banner li {
  list-style: none;
}
.banner .dots {
  position: absolute;
  right: 0px;
  width: 100%;
  bottom: 10px;
  text-align: center;
}
.banner .dots .dot {
  float: left;
  width: 40px;
  height: 10px;
  -khtml-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.banner .dots .dot.active {
  background-color: #fff;
}
